---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>〜〜クリニック　予定表</h1>
		<div class="flex justify-center">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FTokyo&bgcolor=%23ffffff&showTz=0&showCalendars=0&showPrint=0&showTitle=0&mode=WEEK&src=YWVlN2NmMTY3ODAyNzhhZjdjNGJkOThiNmVhMjVlMGY4ODVjMTQwOGRlMjI5MGIxNzY3YTVmZTYzNzk0NTMxZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F4511E" style="border-width:0" height="600"></iframe>
        </div>
		<a href="/form" class="flex justify-center bg-green-600 text-white hover:text-green-600 hover:bg-white hover:border hover:border-green-600">予定を入力する</a>
	</main>

		
</Layout>

<style is:global>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
    iframe{
        max-width: 800px;
        width: 95%;
    }
	@media screen and (max-width: 425px){
		iframe{
			width: 100%;
		}
		
	}
</style>
